.section__champions{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .section__champions--title{
        color: #c49250;
        text-align: center;
        h2 {
            padding-bottom: 25px;
            font-size: 4rem;
        }
        p {
            font-size: 3rem;
            padding-bottom: 25px;
        }
    }
}