@import "../base/variables.scss";

.main__header{
    padding: 70px 0px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imgs/game-news-header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        color: $white;
        font-size: 6rem;
    }
}

.main__sectionsNews{
    @extend .section__champions;
    .main__sectionNews--box{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $white;
        padding: 40px 0;
        border-bottom: 1px solid $naranjaPrincipal;
        img{
            width: 100%;
            max-width: 600px;
        }
        div {
            h3{
                color: $naranjaPrincipal;
                padding: 10px 0;
                font-size: 3rem;
            }
            p{
                color: $white;
                padding: 10px 0;
                font-size: 2.5rem;
            }
        }
    }
}