@import "../base/variables.scss";
.nav__box{
    position: fixed;
    z-index: 10;
    padding-right: 10px;
    background-color: #111;
    padding: 10px 5px;
    .nav{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li a{
            font-size: 2.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        li a:hover{
            color: $naranjaPrincipal;
        }
        .dropdown-menu{
            background-color: map-get($map: $palette, $key: 'naranjaPrincipal');
        }

    }
}
