@media screen and (min-width: 420px){
    //Tamaño del imagen de background en en la primera section
    .home{
        .home__content-box{
            .home__background{
                img{
                    max-height: 400px;
                }
            }
        }
    }
}
@media screen and (min-width: 768px){
    //Tamaño del imagen de background en en la primera section
    .home{
        .home__content-box{
            .home__background{
                img{
                    max-height: 450px;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .section__game{
        .section__game--box{
            .section__game--box__video{
                max-width: 1000px;
                min-height: 500px;
            }
            .section__game--box__text p{
                width: 80%;
                margin: 0 auto;
            }
        }
    }
    .carousel-container{
        width: 80%;
        .slide-text-p{
            font-size: 2.5rem!important;
        }
    }

    /* Pagina de noticias*/
    .main__sectionsNews{
        .main__sectionNews--box{
            max-width: 1060px;
            display: flex;
            flex-direction: row;
            img{
                width: 100%;
                max-width: 500px;
            }
        }
    }
}

@media screen and (min-width: 1280px){
    .home__background{
        img{
            max-height: 550px;
        }
    }

}


