@media screen and (min-width: 768px){
    .section__game--box__video{
        height: 450px;
    }
    .footer__links-externalLinks > li > a:hover{
        background-color: $naranjaPrincipal;
        padding: 8px 12px;
        border-radius: 4px;
        color: #111;
    }
    .section__regions--content--cards{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }
    .main__header > h1{
        font-size: 6rem;
    }

}
@media screen and (min-width: 1280px){
    .nav__box--sections{
        max-width: 40%;
        font-size: 6rem;
    }

    .nav__box--home{
        max-width: 40%;
        font-size: 6rem;
    }

    .section__game--box__video{
        height: 440px;
    }
    .section__game--box__text{
        padding: 40px 20px;
        gap: 40px;
    }
    .section__champions--title{
        padding: 40px 0;
    }
    .section__champions--content-imgs{
        width: 90%;
        margin: 0 auto;
    }
    .section__champions--content-description{
        width: 80%;
    }
    .section__regions--title p{
        padding: 20px 0;
    }
    .section__regions--content--cards{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .section__art--ilustrations{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section__art--ilustrations--figures{
        width: auto;
        max-width: 800px;
    }
    .footer__links-externalLinks{
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px){
    .nav__box--sections{
        width: 50%;
        display: flex!important;
        align-items: center;
        justify-content: space-around;
    }
    .menu-desplegable{
        display: none;
    }
    .nav__box--home{
        max-width: 50%;
    }
    .section__game--box__text p{
        width: 80%;
        margin: 0 auto;
    }
    .section__champions--content-description{
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .section__champions--content-description p{
        font-size: 2.8rem;
    }
    .section__champions--content-description--text p{
        font-size: 2.5rem;
    }
    .section__champions--content-description--text h2{
        font-size: 4rem;
    }
    .section__champions--content-description--text h2{
        font-size: 4rem;
    }

    .section__regions--title p{
        width: 80%;
        margin: 0 auto;
    }
    .footer__copyright{
        padding: 20px 0;
    }
    .footer__links-externalLinks > li > a{
        font-size: 2.5rem;
    }
    /* Pagina de noticias*/
    .main__sectionNews--box{
        justify-content: center;
        flex-direction: row;
    }
    .main__sectionNews--box > img{
        max-width: 50%;
        padding-right: 10px;
    }

}
