.nav__box {
  position: fixed;
  z-index: 10;
  padding-right: 10px;
  background-color: #111;
  padding: 10px 5px;
}
.nav__box .nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.nav__box .nav li a {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.nav__box .nav li a:hover {
  color: #c49250;
}
.nav__box .nav .dropdown-menu {
  background-color: #c49250;
}

.main__header {
  padding: 70px 0px;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/game-news-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main__header h1 {
  color: #fff;
  font-size: 6rem;
}

.main__sectionsNews .main__sectionNews--box {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  border-bottom: 1px solid #c49250;
}
.main__sectionsNews .main__sectionNews--box img {
  width: 100%;
  max-width: 600px;
}
.main__sectionsNews .main__sectionNews--box div h3 {
  color: #c49250;
  padding: 10px 0;
  font-size: 3rem;
}
.main__sectionsNews .main__sectionNews--box div p {
  color: #fff;
  padding: 10px 0;
  font-size: 2.5rem;
}

.footer {
  background-color: rgb(67, 67, 67);
  text-align: center;
  padding: 20px 0;
}
.footer .footer__links-socialNetworks {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
}
.footer .footer__links-socialNetworks li {
  max-width: 70px;
  display: flex;
  align-items: center;
  list-style: none;
}
.footer .footer__links-socialNetworks li img {
  width: 100%;
}
.footer .footer__copyright {
  padding: 10px 0;
  font-size: 2.4rem;
}
.footer .footer__links-externalLinks {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.footer .footer__links-externalLinks li {
  list-style: none;
}
.footer .footer__links-externalLinks li a {
  text-decoration: none;
  padding: 8px 12px;
  color: #111;
  font-size: 2.5rem;
}
.footer .footer__pegi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(31, 28, 31, 0.94);
  max-width: 340px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}
.footer .footer__pegi .footer__pegi--list {
  list-style: none;
}
.footer .footer__pegi .footer__pegi--list li {
  color: #fff;
  font-size: 1.5rem;
  text-align: start;
}

.home {
  width: 100%;
  color: #fff;
}
.home .home__content-box {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: linear-gradient(transparent 5%, transparent 50%, #e4e0da, #ffffff);
}
.home .home__content-box .home__background img {
  width: 100%;
  height: 100vw;
  object-fit: cover;
  padding-top: 10px;
  position: relative;
  top: 60px;
  z-index: -1;
}
.home .home__content-box .home__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.home .home__content-box .home__button .play-now {
  font-size: 3.5rem;
  padding: 10px 20px;
  background-color: #c49250;
  box-shadow: #65635e;
  border-radius: 5px;
  background-color: rgb(152, 111, 69);
}
.home .home__content-box .home__button .play-now:hover {
  background-color: #e1a75b;
  transition: background-color 1s;
  color: #fff;
}
.home .home__content-box .home__button p {
  padding-top: 10px;
  font-size: 2.5rem;
  color: #111;
}
.home .home__content-box .home__button ul {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.home .home__content-box .home__button ul li {
  width: 200px;
  text-decoration: none;
  list-style: none;
}

.section__game--box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 70px;
}
.section__game--box .section__game--box__video {
  position: relative;
  top: -60px;
  width: 90%;
  min-width: 320px;
  height: 350px;
  flex-shrink: 0;
  z-index: 2;
}
.section__game--box .section__game--box__video iframe {
  width: 100%;
  height: 100%;
}
.section__game--box .section__game--box__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.section__game--box .section__game--box__text h2 {
  font-weight: 400;
  color: #c49250;
  font-size: 4rem;
}
.section__game--box .section__game--box__text p {
  color: #fff;
  font-weight: lighter;
  font-size: 2.5rem;
}

.section__game-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 0;
}
.section__game-cards .section__game-cards--card {
  position: relative;
  z-index: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 550px;
  background-color: #c6b7a0;
}
.section__game-cards .section__game-cards--card .section__game-cards--img {
  overflow: hidden;
}
.section__game-cards .section__game-cards--card .section__game-cards--img img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 0;
}
.section__game-cards .section__game-cards--card .section__game-cards--text {
  color: #5e442d;
  font-weight: 200;
  font-size: 3.2rem;
  width: 90%;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.section__game-cards .section__game-cards--card .section__game-cards--text h3 {
  font-size: 3rem;
}

.section__champions, .main__sectionsNews {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section__champions .section__champions--title, .main__sectionsNews .section__champions--title {
  color: #c49250;
  text-align: center;
}
.section__champions .section__champions--title h2, .main__sectionsNews .section__champions--title h2 {
  padding-bottom: 25px;
  font-size: 4rem;
}
.section__champions .section__champions--title p, .main__sectionsNews .section__champions--title p {
  font-size: 3rem;
  padding-bottom: 25px;
}
.section__champions .carousel-item, .main__sectionsNews .carousel-item {
  width: 100%;
}
.section__champions .carousel-item .carousel-img, .main__sectionsNews .carousel-item .carousel-img {
  width: 100%;
  min-height: 300px;
  position: relative;
  object-fit: cover;
}
.section__champions .carousel-item .title-champion-background, .main__sectionsNews .carousel-item .title-champion-background {
  position: relative;
  left: 0;
  top: -50px;
  background-color: rgba(31, 28, 31, 0.94);
}
.section__champions .carousel-item .title-champion-background .slide-title, .main__sectionsNews .carousel-item .title-champion-background .slide-title {
  color: #c6b7a0;
  font-size: 5rem;
}
.section__champions .carousel-item .title-champion-background .slide-text-p, .main__sectionsNews .carousel-item .title-champion-background .slide-text-p {
  font-size: 2rem;
  font-weight: 300;
}
.section__champions .carousel-button, .main__sectionsNews .carousel-button {
  margin: auto auto;
  width: fit-content;
  height: fit-content;
  background-color: #111;
  padding: 10px;
  border-radius: 100%;
  border: 1px solid #c49250;
}

.section__regions {
  width: 100%;
  height: auto;
  padding: 80px 0;
}
.section__regions .section__regions--title {
  text-align: center;
  color: #c49250;
}
.section__regions .section__regions--title h2 {
  font-size: 4rem;
}
.section__regions .section__regions--title p {
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
}
.section__regions .section__regions--content {
  background-color: #282624;
  max-width: 90%;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section__regions .section__regions--content .section__regions--content--title {
  padding: 40px 0;
  width: 100%;
  text-align: center;
  color: #c6b7a0;
  background-color: #282624;
  font-size: 4rem;
}
.section__regions .section__regions--content .section__regions--content--title h3 {
  font-size: 4rem;
}
.section__regions .section__regions--content .section__regions--content--cards {
  width: 100%;
  padding: 40px 0;
  border-top: 1px solid #c49250;
  border-bottom: 1px solid #c49250;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.section__regions .section__regions--content .section__regions--content--cards img {
  width: 100%;
  max-width: 350px;
}
.section__regions .section__regions--content .section__regions--content--cards img:hover {
  transition: 0.5s;
  transform: scale(1.05);
}

.section__art {
  width: 100%;
  padding: 40px 0;
  text-align: center;
}
.section__art h2 {
  text-align: center;
  color: #c49250;
  font-size: 4rem;
}
.section__art h3 {
  color: #fff;
  font-weight: 300;
  padding-top: 20px;
  font-size: 3rem;
}

.section__art--ilustrations {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0;
  font-size: 6rem;
}
.section__art--ilustrations .section__art--ilustrations--figures {
  width: 500px;
  color: #c6b7a0;
  border-bottom: 1px solid #e8ac5f;
  overflow: hidden;
}
.section__art--ilustrations .section__art--ilustrations--figures img {
  width: 100%;
  padding-bottom: 20px;
}
.section__art--ilustrations .section__art--ilustrations--figures img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.section__art--ilustrations .section__art--ilustrations--figures div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  padding-bottom: 10px;
}
.section__art--ilustrations .section__art--ilustrations--figures div a {
  border: 1px solid #c6b7a0;
  padding: 5px 10px;
  border-radius: 4px;
}
.section__art--ilustrations .section__art--ilustrations--figures div a:hover {
  border: 1px solid #c49250;
  background-color: #c49250;
  color: #111;
  transition: 0.5s;
}

@media screen and (min-width: 420px) {
  .home .home__content-box .home__background img {
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .home .home__content-box .home__background img {
    max-height: 450px;
  }
}
@media screen and (min-width: 1024px) {
  .section__game .section__game--box .section__game--box__video {
    max-width: 1000px;
    min-height: 500px;
  }
  .section__game .section__game--box .section__game--box__text p {
    width: 80%;
    margin: 0 auto;
  }
  .carousel-container {
    width: 80%;
  }
  .carousel-container .slide-text-p {
    font-size: 2.5rem !important;
  }
  /* Pagina de noticias*/
  .main__sectionsNews .main__sectionNews--box {
    max-width: 1060px;
    display: flex;
    flex-direction: row;
  }
  .main__sectionsNews .main__sectionNews--box img {
    width: 100%;
    max-width: 500px;
  }
}
@media screen and (min-width: 1280px) {
  .home__background img {
    max-height: 550px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #Fff;
}

hr {
  width: 90%;
  border-width: 0;
  border-top: 1px solid #c49250;
  margin: 0 auto;
}

.body__background {
  background: url("../imgs/background-dark-grey-noise.jpg");
  height: auto;
}

/*# sourceMappingURL=style.css.map */
